@import "compass/reset";

@import "css/zenburn";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

@font-face {
  font-family: "Computer Modern";
  src: url('/fonts/cmunss.otf');
}
@font-face {
  font-family: "Computer Modern";
  src: url('/fonts/cmunsx.otf');
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url('/fonts/cmunsi.otf');
  font-style: italic, oblique;
}
@font-face {
  font-family: "Computer Modern";
  src: url('/fonts/cmunbxo.otf');
  font-weight: bold;
  font-style: italic, oblique;
}
@font-face {
  font-family: "Fira Sans OT";
  src: local('FiraSansOT-Regular'), url('/fonts/fira-sans/OTF/FiraSansOT-Regular.otf'), url('/fonts/fira-sans/TTF/FiraSansOT-Regular.ttf');
}
@font-face {
  font-family: "Fira Sans OT";
  src: local('FiraSansOT-Light'), url('/fonts/fira-sans/OTF/FiraSansOT-Light.otf'), url('/fonts/fira-sans/TTF/FiraSansOT-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: "Fira Sans OT";
  src: local('FiraSansOT-Bold'), url('/fonts/fira-sans/OTF/FiraSansOT-Bold.otf'), url('/fonts/fira-sans/TTF/FiraSansOT-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Fira Sans OT";
  src: local('FiraSansOT-Italic'), url('/fonts/fira-sans/OTF/FiraSansOT-Italic.otf'), url('/fonts/fira-sans/TTF/FiraSansOT-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans OT";
  src: local('FiraSansOT-BoldItalic'), url('/fonts/fira-sans/OTF/FiraSansOT-BoldItalic.otf'), url('/fonts/fira-sans/TTF/FiraSansOT-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans OT";
  src: local('FiraSansOT-LightItalic'), url('/fonts/fira-sans/OTF/FiraSansOT-LightItalic.otf'), url('/fonts/fira-sans/TTF/FiraSansOT-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}
/*@font-face {
  font-family: "Fira Sans OT";
  src: local('FiraSansOT-LightItalic'), url('/fonts/fira-sans/OTF/FiraSansOT-LightItalic.otf'), url('/fonts/fira-sans/TTF/FiraSansOT-LightItalic.ttf');
  font-weight: 300;
  font-style: italic, oblique;
}*/
@font-face {
  font-family: "Fira Mono OT";
  src: local('FiraMonoOT-Regular'), url('/fonts/fira-sans/OTF/FiraMonoOT-Regular.otf'), url('/fonts/fira-sans/TTF/FiraMonoOT-Regular.ttf');
}
@font-face {
  font-family: "Fira Mono OT";
  src: local('FiraMonoOT-Bold'), url('/fonts/fira-sans/OTF/FiraMonoOT-Bold.otf'), url('/fonts/fira-sans/TTF/FiraMonoOT-Bold.ttf');
  font-weight: bold;
}

$textcolor: #000;
$blockquotebgcolor: #FFF8E3;
$bgcolor: #fff;
$linkcolor: #FF3412;
