@import "compass/reset";
@import "compass/support";
@import "compass/css3/appearance";

@import "css/fonts";
@import "css/zenburn";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

@mixin experimental($property, $value,
  $moz      : true,
  $webkit   : true,
  $o        : true,
  $ms       : true,
  $khtml    : true,
  $official : true
) {
  @if $webkit  { -webkit-#{$property} : $value; }
  @if $khtml   {  -khtml-#{$property} : $value; }
  @if $moz     {    -moz-#{$property} : $value; }
  @if $ms      {     -ms-#{$property} : $value; }
  @if $o       {      -o-#{$property} : $value; }
  @if $official                                        {         #{$property} : $value; }
}

// Same as experimental(), but for cases when the property is the same and the value is vendorized
@mixin experimental-value($property, $value,
  $moz      : true,
  $webkit   : true,
  $o        : true,
  $ms       : true,
  $khtml    : true,
  $official : true
) {
  @if $webkit  { #{$property} : -webkit-#{$value}; }
  @if $khtml   { #{$property} :  -khtml-#{$value}; }
  @if $moz     { #{$property} :    -moz-#{$value}; }
  @if $ms      { #{$property} :     -ms-#{$value}; }
  @if $o       { #{$property} :      -o-#{$value}; }
  @if $official                                        { #{$property} :         #{$value}; }
}

$textcolor: #000;
$blockquotebgcolor: #FFF8E3;
$bgcolor: #fff;
$linkcolor: #FF3412;
