@import "compass/reset";
@import "compass/css3/appearance";

@import "css/fonts";
@import "css/zenburn";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

$textcolor: #000;
$blockquotebgcolor: #FFF8E3;
$bgcolor: #fff;
$linkcolor: #FF3412;
