$cbblack: #272626;
$cbdarkgrey: #404040;
$cblightgrey: #8C8979;
$cbwhite: #F2F2F2;
$cbred: #F60A20;


$dark-textcolor: $cbblack;
$dark-bgcolor: $cbwhite;

$textcolor: $cbblack;
$bgcolor: $cbwhite;

$sidebarcolor: $cbdarkgrey;
$sidebartextcolor: $cbwhite;
$triggercolor: $cbdarkgrey;
$activetriggercolor: $cbred;
$leaverbgcolor: $cbblack;

$contentlinkcolor: $cbred;
