@import "compass/css3/shared";

$experimental-support-for-opera: true;

.elastic-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.elastic-container iframe, .elastic-video object, .elastic-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .third, .half {
    float: none;
    display: block;
    width: 100%;
  }

  .looks {
    float: none;
    width: 100%;
    display: block;
  }

  .next {
    font-size: 16px;
  }

  .month {
    float: none;
    display: inline;
  }

  iframe#latitude {
    height: 300px;
  }

  #wrapper {
    position: static;
  }

  .contentwrapper {
    float: none;
  }

  .content {
    width: auto;
  }

  header .date {
    display: none;
  }

  .sidebar1 {
    font-size: 10px;

    margin-bottom: 0;
    padding-bottom: 0;

    nav {
      ul {
        display: inline;
      }

      ul li {
        background-color: #33332d;
        display: inline-block;

        i {
          display: none;
        }
      }
    }
    img {
      float: left;
      margin-right: 20px;
    }

    .uberspace {
      display: none;
    }
  }

  .sidebar2 {
    .next {
      display: block;
    }
  }

  .vcard, .contacts {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
  }

 .social, .hrsocial, .hrlogo, .hrmenu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .sidebar1 {
    width: 228px;
  }

  .sidebar2 {
    width: 228px;
  }

  .contentwrapper {
    @include experimental-value(width, calc(100% - 248px));
  }
}

@media (min-width: 768px) {
  #wrapper {
    min-height: 100%;
  }

  .hrnext {
    display: none;
  }
  .content {
    width: 476px;
  }

  .sidebar1 {
    margin-right: 10px;

    float: left;
    min-height: 100%;

    img.logo {
      width: 80px;
      height: auto;
    }
  }
}

@media (min-width: 838px) {
  .content {
    width: 548px;
  }
}

@media (min-width: 908px) {
  .content {
    width: 620px;
  }
}

@media (min-width: 980px) {
  .sidebar1, .sidebar2 {
    width: 300px;
  }

  .contentwrapper {
    @include experimental-value(width, calc(100% - 320px));
  }
}

@media (min-width: 1050px) {
  .sidebar1 {
    width: 370px;
  }

  .sidebar2 {
    width: 370px;

    .next, .hrnext {
      display: block;
    }
  }
  .contentwrapper {
    @include experimental-value(width, calc(100% - 390px));
  }
}

@media (min-width: 1210px) {
  .contentwrapper {
    float: left;

    @include experimental-value(width, calc(100% - 548px));
  }

  .content {
    width: 620px;
  }

  .hrsocial {
    display: none;
  }

  .sidebar1 {
    width: 228px;
    margin-bottom: -8000px;
    padding-bottom: 8000px;
  }

  .sidebar2 {
    float: right;
    width: 300px;

    .next, .hrnext {
      display: none;
    }
  }
}

@media (min-width: 1280px) {
  .contentwrapper {
    @include experimental-value(width, calc(100% - 648px));
  }

  .sidebar2 {
    width: 370px;

    .hrsocial {
      display: none;
    }

    .next, .hrnext {
      display: block;
    }
  }
}

@media (min-width: 1352px) {
  .sidebar1 {
    width: 300px;
  }

  .contentwrapper {
    @include experimental-value(width, calc(100% - 690px));
  }
}

@media (min-width: 1422px) {
  .sidebar1 {
    width: 370px;
  }
  .content {
    margin-left: auto;
    margin-right: auto;
  }

  .contentwrapper {
    @include experimental-value(width, calc(100% - 760px));
  }
}

@media (min-width: 1570px) {
  .content {
    width: 770px;
  }
}