@import "css/base.scss";
@import "css/basehtml.scss";

#wrapper {
  overflow: hidden;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

header {
  display: table;
  width: 100%;

  margin-bottom: 10px;

  h1 {
    display: table-cell;
  }

  .date {
    display: table-cell;

    vertical-align: middle;

    width: 130px;
    line-height: 3;

    background: $datebgcolor;

    text-align: center;
    font-weight: bold;
  }
}

.flattr {
  margin: 10px 0 10px 0;
}

article {
  margin-bottom: 20px;
}

.basicStats {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
  float: left;
}

.looks {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}

iframe#latitude {
  height: 500px;
  width: 100%;
}

.half {
  float: left;
  width: 50%;
}

.third {
  float: left;
  width: 33%;
}

.looks {
  float: right;
  width: 200px;
}

.year, .month {
  display: block;
  float: left;
  width: 14.893617021276595%;
}

.year {
  font-weight: 700;
}

.day {
  padding-right: 20px;
}

.archive {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.social {
  margin-bottom: 10px;
  padding: 0px 10px 0 10px;

  a, a:hover {
    display: inline;
    color: $bgcolor;
    background: $textcolor;
    text-decoration: none;
  }

  ul li {
    display: inline;

    font-size: 40px;

    margin-left: 5px;
    margin-right: 5px;
  }
}

.topd {
  vertical-align: top;
}

.heading {
  font-weight: 700;
  vertical-align: top;
  padding-right: 20px;
}

.uberspace img {
  display: block;

  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.cc-icon img {
  display: block;

  margin-left: auto;
  margin-right: auto;
}

.more {
  text-align: right;
}

.contentwrapper {
  float: right;
}

.content {
  padding-top: 20px;
  margin-bottom: 20px;
  background: $bgcolor;
  padding: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
}

.dateli {
  font-weight: 400;
}

.sidebar1 {
  color: $bgcolor;
  background: $textcolor;

  h1, h1 a, h1 a:hover {
    color: $bgcolor;
  }

  hr {
    border-top: 1px solid $bgcolor;
  }

  img.logo {
    display: block;
    width: 40px;
    height: auto;

    margin-left: auto;
    margin-right: auto;
  }

  nav {
    ul {
      margin: 0;
    }

    ul li {
      list-style: none;
      margin-left: 0;
      font-size: 1.5em;
      text-align: left;

      a {
        display: block;

        color: $bgcolor;

        font-weight: bold;

        text-decoration: none;

        line-height: 1.5em;
        padding: 10px 5px 10px 5px;
        &.active,
        &:hover {
          color: $textcolor;
          background: $bgcolor;

          text-decoration: none;
        }
      }

      i {
        padding-top: 10px;
        float: right;
      }
    }
  }
}

.sidebar2 {
  color: $bgcolor;
  background: $textcolor;

  margin-bottom: -8000px;
  padding-bottom: 8000px;

  h1, h1 a, h1 a:hover {
    color: $bgcolor;
  }

  hr {
    border-top: 1px solid $bgcolor;
  }

  .tagcloud {
    font-weight: 400;
    padding: 0 10px 10px 10px;
  }

  .next {
    display: none;
    padding: 0 10px 0 10px;
  }

  ul li {
    list-style: none;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

#references p {
  text-indent: -1em;
  margin-left: 1em;
}

@import "css/responsive";
