@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

code,
pre {
  padding: 0 3px 2px;
  font-family: "Droid Sans Mono",Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
}

code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

pre.prettyprint {
  margin-bottom: 20px;
}

pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

pre, code {
  color: #cccccc;
  background-color: #303030;
}

code > span.kw {
  color: #f0dfaf;
}

code > span.dt {
  color: #dfdfbf;
}

code > span.dv {
  color: #dcdccc;
}

code > span.bn {
  color: #dca3a3;
}

code > span.fl {
  color: #c0bed1;
}

code > span.ch {
  color: #dca3a3;
}

code > span.st {
  color: #cc9393;
}

code > span.co {
  color: #7f9f7f;
}

code > span.ot {
  color: #efef8f;
}

code > span.al {
  color: #ffcfaf;
}

code > span.fu {
  color: #efef8f;
}

code > span.er {
  color: #c3bf9f;
}

@font-face {
  font-family: "Computer Modern";
  src: url("/fonts/cmunss.otf");
}

@font-face {
  font-family: "Computer Modern";
  src: url("/fonts/cmunsx.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url("/fonts/cmunsi.otf");
  font-style: italic, oblique;
}

@font-face {
  font-family: "Computer Modern";
  src: url("/fonts/cmunbxo.otf");
  font-weight: bold;
  font-style: italic, oblique;
}

@font-face {
  font-family: "Fira Sans OT";
  src: local("FiraSansOT-Regular"), url("/fonts/fira-sans/OTF/FiraSansOT-Regular.otf"), url("/fonts/fira-sans/TTF/FiraSansOT-Regular.ttf");
}

@font-face {
  font-family: "Fira Sans OT";
  src: local("FiraSansOT-Bold"), url("/fonts/fira-sans/OTF/FiraSansOT-Bold.otf"), url("/fonts/fira-sans/TTF/FiraSansOT-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Fira Sans OT";
  src: local("FiraSansOT-Italic"), url("/fonts/fira-sans/OTF/FiraSansOT-Italic.otf"), url("/fonts/fira-sans/TTF/FiraSansOT-Italic.ttf");
  font-style: italic, oblique;
}

@font-face {
  font-family: "Fira Sans OT";
  src: local("FiraSansOT-BoldItalic"), url("/fonts/fira-sans/OTF/FiraSansOT-BoldItalic.otf"), url("/fonts/fira-sans/TTF/FiraSansOT-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic, oblique;
}

@font-face {
  font-family: "Fira Sans OT";
  src: local("FiraSansOT-Light"), url("/fonts/fira-sans/OTF/FiraSansOT-Light.otf"), url("/fonts/fira-sans/TTF/FiraSansOT-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Fira Sans OT";
  src: local("FiraSansOT-LightItalic"), url("/fonts/fira-sans/OTF/FiraSansOT-LightItalic.otf"), url("/fonts/fira-sans/TTF/FiraSansOT-LightItalic.ttf");
  font-weight: 300;
  font-style: italic, oblique;
}

@font-face {
  font-family: "Fira Mono OT";
  src: local("FiraMonoOT-Regular"), url("/fonts/fira-sans/OTF/FiraMonoOT-Regular.otf"), url("/fonts/fira-sans/TTF/FiraMonoOT-Regular.ttf");
}

@font-face {
  font-family: "Fira Mono OT";
  src: local("FiraMonoOT-Bold"), url("/fonts/fira-sans/OTF/FiraMonoOT-Bold.otf"), url("/fonts/fira-sans/TTF/FiraMonoOT-Bold.ttf");
  font-weight: bold;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: black;
  background: white;
  font-family: "Fira Sans OT", "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  height: 100%;
  line-height: 1.5em;
}

td {
  font-weight: 300;
}

td.day {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 10px 0 10px 0;
  line-height: 1.5em;
}

h1, h2 {
  color: white;
  background: black;
}

h2 {
  font-size: 32px;
}

h1, h1 a, h1 a:hover {
  color: white;
  background: black;
  font-size: 40px;
  text-decoration: none;
  line-height: 1.5em;
}

p {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

hr {
  border-top: 1px solid black;
}

a, a:hover {
  color: #ff3412;
  text-decoration: underline;
}

article {
  line-height: 1.5em;
}

ul, ol {
  margin-bottom: 10px;
}

ul li {
  list-style: disc;
  margin-left: 30px;
}

ol li {
  list-style: decimal;
  margin-left: 30px;
}

ul.unstyled li {
  list-style: none;
  margin-left: 0;
}

sup {
  vertical-align: super;
  font-size: 60%;
}

.tt {
  font-family: "Fira Mono OT", "Droid Sans Mono", "Monaco", "Menlo", "Consolas", "Courier New", monospace;
}

blockquote {
  padding: 10px 20px 10px 20px;
  background: #fff8e3;
  border: thin solid black;
  border-left: 15px solid black;
  font-weight: 400;
}
blockquote small {
  font-size: 14px;
  display: block;
  text-align: right;
}

#wrapper {
  overflow: hidden;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

.tikz img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

time {
  font-weight: bold;
}

td time {
  margin-right: 20px;
}

header {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}
header h1 {
  display: table-cell;
}
header .date {
  display: table-cell;
  vertical-align: middle;
  width: 130px;
  line-height: 3;
  color: white;
  background: black;
  text-align: center;
}
header .rss {
  display: table-cell;
  vertical-align: middle;
  width: 64px;
  color: white;
  background: black;
  text-align: center;
}
header .rss a {
  color: white;
  text-decoration: none;
}

.flattr {
  margin: 10px 0 10px 0;
}

article {
  margin-bottom: 20px;
}
article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.basicStats {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
  float: left;
}

.looks {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}

iframe#latitude {
  height: 500px;
  width: 100%;
}

.half {
  float: left;
  width: 50%;
}

.third {
  float: left;
  width: 33%;
}

.looks {
  float: right;
  width: 200px;
}

.year, .month {
  display: block;
  float: left;
  width: 14.893617021276595%;
}

.year {
  font-weight: 700;
}

.day {
  padding-right: 20px;
}

.archive {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.social {
  margin-bottom: 10px;
  padding: 0px 10px 0 10px;
}
.social a, .social a:hover {
  display: inline;
  color: white;
  background: black;
  text-decoration: none;
}
.social ul li {
  display: inline;
  font-size: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.topd {
  vertical-align: top;
}

.heading {
  font-weight: 700;
  vertical-align: top;
  padding-right: 20px;
}

.uberspace img {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.cc-icon img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.more {
  text-align: right;
}

.contentwrapper {
  float: right;
}

.content {
  padding-top: 20px;
  margin-bottom: 20px;
  background: white;
  padding: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
}

.dateli {
  font-weight: 400;
}

.sidebar1 {
  color: white;
  background: black;
}
.sidebar1 h1, .sidebar1 h1 a, .sidebar1 h1 a:hover {
  color: white;
}
.sidebar1 hr {
  border-top: 1px solid white;
}
.sidebar1 img.logo {
  display: block;
  width: 40px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.sidebar1 nav ul {
  margin: 0;
}
.sidebar1 nav ul li {
  list-style: none;
  margin-left: 0;
  font-size: 1.5em;
  text-align: left;
}
.sidebar1 nav ul li a {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.5em;
  padding: 10px 5px 10px 15px;
}
.sidebar1 nav ul li a.active, .sidebar1 nav ul li a:hover {
  color: black;
  background: white;
  text-decoration: none;
}
.sidebar1 nav ul li i {
  padding-top: 10px;
  float: right;
}

.sidebar2 {
  color: white;
  background: black;
  margin-bottom: -8000px;
  padding-bottom: 8000px;
}
.sidebar2 h1, .sidebar2 h1 a, .sidebar2 h1 a:hover {
  color: white;
}
.sidebar2 hr {
  border-top: 1px solid white;
}
.sidebar2 .tagcloud {
  font-weight: 400;
  padding: 0 10px 10px 10px;
}
.sidebar2 .next {
  display: none;
  padding: 0 10px 0 10px;
}
.sidebar2 ul li {
  list-style: none;
  margin-left: 0;
  margin-bottom: 10px;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

#references p {
  text-indent: -1em;
  margin-left: 1em;
}

.elastic-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.elastic-container iframe, .elastic-video object, .elastic-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .third, .half {
    float: none;
    display: block;
    width: 100%;
  }

  .looks {
    float: none;
    width: 100%;
    display: block;
  }

  .next {
    font-size: 16px;
  }

  .month {
    float: none;
    display: inline;
  }

  iframe#latitude {
    height: 300px;
  }

  #wrapper {
    position: static;
  }

  .contentwrapper {
    float: none;
  }

  .content {
    width: auto;
  }

  header .date {
    display: none;
  }

  .sidebar1 {
    font-size: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .sidebar1 nav ul {
    display: inline;
  }
  .sidebar1 nav ul li {
    background-color: black;
    display: inline-block;
  }
  .sidebar1 nav ul li a {
    padding: 10px 5px 10px 5px;
  }
  .sidebar1 nav ul li i {
    display: none;
  }
  .sidebar1 img {
    float: left;
    margin-right: 20px;
  }
  .sidebar1 .uberspace {
    display: none;
  }

  .social {
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .sidebar2 .next {
    display: block;
  }

  .vcard, .contacts {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
  }

  .hrlogo, .hrmenu {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .sidebar1 {
    width: 228px;
  }

  .sidebar2 {
    width: 228px;
  }

  .contentwrapper {
    width: -webkit-calc(100% - 248px);
    width: -moz-calc(100% - 248px);
    width: -ms-calc(100% - 248px);
    width: -o-calc(100% - 248px);
    width: calc(100% - 248px);
  }
}
@media (min-width: 768px) {
  #wrapper {
    min-height: 100%;
  }

  .hrnext {
    display: none;
  }

  .content {
    width: 476px;
  }

  .sidebar1 {
    margin-right: 10px;
    float: left;
    min-height: 100%;
  }
  .sidebar1 img.logo {
    width: 80px;
    height: auto;
  }
}
@media (min-width: 838px) {
  .content {
    width: 548px;
  }
}
@media (min-width: 908px) {
  .content {
    width: 620px;
  }
}
@media (min-width: 980px) {
  .sidebar1, .sidebar2 {
    width: 300px;
  }

  .contentwrapper {
    width: -webkit-calc(100% - 320px);
    width: -moz-calc(100% - 320px);
    width: -ms-calc(100% - 320px);
    width: -o-calc(100% - 320px);
    width: calc(100% - 320px);
  }
}
@media (min-width: 1050px) {
  .sidebar1 {
    width: 370px;
  }

  .sidebar2 {
    width: 370px;
  }
  .sidebar2 .next, .sidebar2 .hrnext {
    display: block;
  }

  .contentwrapper {
    width: -webkit-calc(100% - 380px);
    width: -moz-calc(100% - 380px);
    width: -ms-calc(100% - 380px);
    width: -o-calc(100% - 380px);
    width: calc(100% - 380px);
  }
}
@media (min-width: 1200px) {
  .content {
    width: 770px;
  }
}
