@import "css/base.scss";

html {
  height: 100%;
}

body {
  color: $textcolor;
  background: $bgcolor;

  font: {
    family: "Lato";
    weight: 300;
    size: 20px;
  }

  height: 100%;

  line-height: 1.5em;
}

.flattr {
  margin: 10px 0 10px 0;
}

p {
  margin-bottom: 10px;
}

span.tt {
  font-family: "Monaco","Menlo","Consolas","Courier New",monospace
}

ul {
  margin-bottom: 10px;
}

iframe#latitude {
  height: 500px;
  width: 100%;
}

ul li {
  list-style: disc;
  margin-left: 20px;
}

article {
  line-height: 1.5em;
}

#wrapper {
  overflow: hidden;
}

.half {
  float: left;
  width: 50%;
}

.looks {
  float: right;
  width: 200px;
}

.third {
  float: left;
  width: 33%;
}

td {
  font-weight: 300;
}

td.day {
  vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;

  margin: 10px 0 10px 0;

  line-height: 1.5em;
}

h1, h2 {
  color: $bgcolor;
  background: $textcolor;
}

h2 {
  font: {
      size: 32px;
  }
}

h1, h1 a, h1 a:hover {
  color: $bgcolor;
  background: $textcolor;

  font: {
    size: 40px;
  }

  text-decoration: none;

  line-height: 1.5em;
}

hr {
  border-top: 1px solid $textcolor;
}

.archive {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.social {
  margin-bottom: 10px;
  padding: 0px 10px 0 10px;

  a, a:hover {
    display: inline;
    color: $bgcolor;
    background: $textcolor;
    text-decoration: none;
  }

  ul li {
    display: inline;

    font-size: 40px;

    margin-left: 5px;
    margin-right: 5px;
  }
}

.topd {
  vertical-align: top;
}

.heading {
  font-weight: 700;
  vertical-align: top;
  padding-right: 20px;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

ul.unstyled li {
  list-style: none;
  margin-left: 0;
}

.right {
  margin-left: auto;
  margin-right: auto;
}

.day {
  padding-right: 20px;
}

.cc-icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.year, .month {
  display: block;
  float:left;
width: 14.893617021276595%;
}

.year {
  font-weight: 700;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.uberspace img {
  display: block;

  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

div.more {
  text-align: right;
}

a, a:hover {
  color: $linkcolor;

  text-decoration: underline;
}

.sidebar1 {
  color: $bgcolor;
  background: $textcolor;

  font-size: 20px;

  h1, h1 a, h1 a:hover {
    color: $bgcolor;
  }

  hr {
    border-top: 1px solid $bgcolor;
  }

  img.logo {
    display: block;
    width: 40px;
    height: auto;

    margin-left: auto;
    margin-right: auto;
  }

  nav {
    ul {
      margin: 0;
    }

    ul li {
      list-style: none;
      margin-left: 0;
      font-size: 1.5em;
      text-align: left;

      a {
        display: block;

        color: $bgcolor;

        font-weight: bold;

        text-decoration: none;

        line-height: 1.5em;
        padding: 10px 5px 10px 5px;
      }
      a.active,
      a:hover {
        color: $textcolor;
        background: $bgcolor;

        text-decoration: none;
      }

      i {
        padding-top: 10px;
        float: right;
      }
    }
  }
}

.sidebar2 {
  color: $bgcolor;
  background: $textcolor;

  margin-bottom: -5000px;
  padding: 0 10px 5010px 10px;

  h1, h1 a, h1 a:hover {
    color: $bgcolor;
  }

  hr {
    border-top: 1px solid $bgcolor;
  }

  .tagcloud {
    font-weight: 400;
  }

  .next {
    display: none;
  }

  .hrnext {
    display: none;
  }

  ul li {
    list-style: none;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.dateli {
  font-weight: 400;
}

.contentwrapper {
  float: right;
}

.content {
  padding-top: 20px;
  margin-bottom: 20px;
  background: $textbody;
  padding: 10px 10px 10px 10px;

}

@import "css/responsive";
