html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.main-content section#facts {
  padding-bottom: 1.4em;
  z-index: 0;
  padding: 1em 1em 1.4em 1em;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .main-content section#facts p {
    margin-bottom: 1.4em; }
  .main-content section#facts p:last-child {
    margin-bottom: 0; }

@media (min-width: 64rem) {
  .main-content section#facts {
    padding: 1em 2em 1.4em 2em; } }
pre code {
  padding: 0 3px 2px;
  font-family: "Fira Mono", "Droid Sans Mono",Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1rem;
  color: #333333;
  white-space: pre; }

code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 1rem;
  line-height: 20px;
  overflow: scroll;
  white-space: pre;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15); }

pre.prettyprint {
  margin-bottom: 20px; }

pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  background-color: transparent;
  border: 0; }

pre, code {
  color: #cccccc;
  background-color: #303030; }

code > span.kw {
  color: #f0dfaf; }

code > span.dt {
  color: #dfdfbf; }

code > span.dv {
  color: #dcdccc; }

code > span.bn {
  color: #dca3a3; }

code > span.fl {
  color: #c0bed1; }

code > span.ch {
  color: #dca3a3; }

code > span.st {
  color: #cc9393; }

code > span.co {
  color: #7f9f7f; }

code > span.ot {
  color: #efef8f; }

code > span.al {
  color: #ffcfaf; }

code > span.fu {
  color: #efef8f; }

code > span.er {
  color: #c3bf9f; }

.main-content .fn {
  font-weight: 500; }

.main-content article > * > *:last-child {
  padding-bottom: 0; }
.main-content article.abstract {
  border-bottom: 1px solid #272626; }
.main-content div.more {
  text-align: right; }
.main-content article header {
  padding-top: 1em;
  padding-bottom: 2em; }
  .main-content article header .date {
    font-size: .75em;
    font-weight: 300; }
.main-content article footer .meta-info {
  padding: .5em 0;
  border-bottom: 1px solid #272626;
  border-top: 1px solid #272626; }
.main-content .background {
  display: none; }
.main-content h1.section-head {
  display: none; }
.main-content h1.section-head::before {
  display: none; }
.main-content #credit {
  display: none; }
@media (min-width: 64rem) {
  .main-content .background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 45rem;
    display: block; }
  .main-content #blogbg {
    background: linear-gradient(to bottom, rgba(39, 38, 38, 0) 0%, rgba(39, 38, 38, 0) 50%, rgba(39, 38, 38, 0.25) 100%), url("/assets/images/beanbag.jpg") no-repeat center center/cover; }
  .main-content #archivebg {
    background: linear-gradient(to bottom, rgba(39, 38, 38, 0) 0%, rgba(39, 38, 38, 0) 50%, rgba(39, 38, 38, 0.25) 100%), url("/assets/images/archive.jpg") no-repeat 50% 50%/cover;
    background-position: 45% 50%; }
  .main-content #contactbg {
    background: linear-gradient(to bottom, rgba(39, 38, 38, 0) 0%, rgba(39, 38, 38, 0) 50%, rgba(39, 38, 38, 0.25) 100%), url("/assets/images/mailboxi.jpg") no-repeat bottom center/cover; }
  .main-content #tagbg {
    background: linear-gradient(to bottom, rgba(39, 38, 38, 0) 0%, rgba(39, 38, 38, 0) 50%, rgba(39, 38, 38, 0.25) 100%), url("/assets/images/indexcardbox.jpg") no-repeat center center/cover; }
  .main-content #aboutbg {
    background: linear-gradient(to bottom, rgba(39, 38, 38, 0) 0%, rgba(39, 38, 38, 0) 50%, rgba(39, 38, 38, 0.25) 100%), url("/assets/images/SIGINT_Martin_bw.jpg") no-repeat 50% 20%/cover; }
    .main-content #aboutbg #credit a, .main-content #aboutbg #credit a:hover, .main-content #aboutbg #credit a:visited {
      color: #272626; }
  .main-content #talkbg {
    background: linear-gradient(to bottom, rgba(39, 38, 38, 0) 0%, rgba(39, 38, 38, 0) 50%, rgba(39, 38, 38, 0.25) 100%), url("/assets/images/lecture_hall_bw.jpg") no-repeat center center/cover; }
    .main-content #talkbg #credit a, .main-content #talkbg #credit a:hover, .main-content #talkbg #credit a:visited {
      color: #272626; }
  .main-content #credit {
    position: absolute;
    top: -0.5em;
    right: 0.5em;
    bottom: auto;
    left: auto;
    display: block;
    width: 20rem;
    font-size: .8em;
    font-weight: 300;
    text-align: right;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -moz-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    color: #f2f2f2; }
    .main-content #credit a, .main-content #credit a:hover, .main-content #credit a:visited {
      color: #f2f2f2;
      text-decoration: none; }
  .main-content h1.section-head {
    position: fixed;
    display: block;
    text-transform: lowercase;
    font-weight: 700;
    bottom: .25rem;
    right: 1.5rem;
    font-size: 4rem;
    color: #f2f2f2;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-decoration: none;
    border-bottom: none; }
  .main-content h1.section-head::before {
    position: absolute;
    display: block;
    bottom: 1rem;
    left: -1.25rem;
    margin-bottom: -1px;
    content: "";
    width: 1rem;
    height: 1rem;
    color: #F60A20;
    background: #F60A20; } }
@media (min-width: 80rem) {
  .main-content h1.section-head {
    font-size: 6rem; }
  .main-content h1.section-head::before {
    bottom: 1.5rem;
    margin-bottom: -2px; } }
.main-content article > * {
  padding: 1em; }

@media (min-width: 48rem) {
  .main-content footer.meta-info {
    font-size: 1.125rem;
    padding: .5rem 0;
    border-bottom: 1px solid #272626;
    border-top: 1px solid #272626; } }
@media (min-width: 64rem) {
  .main-content article > * {
    padding: 0 2em 1em 2em; }
  .main-content #article-bg {
    display: block; } }
#more-arrow {
  position: fixed;
  bottom: 0;
  left: 20em;
  width: 5em; }
  #more-arrow svg {
    width: 5em;
    height: 5em; }

.main-content.show #more-arrow {
  display: none; }

.arrow-down {
  stroke: rgba(242, 242, 242, 0.9);
  fill: none; }

#lambda {
  stroke: #F2F2F2;
  fill: #F2F2F2; }

#dot {
  fill: #F60A20;
  stroke: #F60A20; }

#sidebar {
  font-size: 0.75rem;
  color: #f2f2f2;
  background-color: #404040; }
  #sidebar h1 {
    font-size: 3em;
    font-weight: 700; }
  #sidebar footer.details {
    display: none; }
  #sidebar .leaver {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 5em;
    background-color: #272626; }
    #sidebar .leaver .trigger {
      position: absolute;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      height: 5em;
      width: 5em;
      overflow: hidden;
      text-align: center;
      line-height: 2em;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      #sidebar .leaver .trigger div {
        position: absolute;
        width: 3em;
        height: 3em;
        padding: 1em;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -moz-transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0); }
        #sidebar .leaver .trigger div img {
          width: 3em;
          height: auto; }
      #sidebar .leaver .trigger .menu-close {
        top: 0;
        background-color: #F60A20; }
      #sidebar .leaver .trigger .menu {
        top: 5em;
        left: 0;
        background-color: #404040; }
    #sidebar .leaver footer.logo {
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
      width: 5em;
      height: 5em;
      line-height: 5em; }
      #sidebar .leaver footer.logo svg {
        width: 100%;
        height: auto; }
        #sidebar .leaver footer.logo svg .lambda {
          fill: #f2f2f2; }
        #sidebar .leaver footer.logo svg .dot {
          fill: #F60A20; }
      #sidebar .leaver footer.logo img.logo {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%; }
  #sidebar .sidebar-content {
    position: fixed;
    top: 5em;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 75;
    background-color: #404040;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-transform: translate3d(-100%, -100%, 0) translate3d(5em, 0, 0);
    -ms-transform: translate3d(-100%, -100%, 0) translate3d(5em, 0, 0);
    -webkit-transform: translate3d(-100%, -100%, 0) translate3d(5em, 0, 0);
    transform: translate3d(-100%, -100%, 0) translate3d(5em, 0, 0); }
    #sidebar .sidebar-content section.menu {
      position: absolute;
      top: 1.25em;
      right: 3.5em;
      bottom: 11em;
      left: 3.5em; }
    #sidebar .sidebar-content nav {
      line-height: 1.2; }
      #sidebar .sidebar-content nav a, #sidebar .sidebar-content nav a:visited {
        margin-bottom: 0.5em;
        padding: 0.5em 1.5em 0.5em 1.5em;
        font-weight: 700;
        display: block;
        color: #f2f2f2;
        text-decoration: none;
        border: 1px solid transparent;
        background-color: #404040;
        opacity: 0;
        -moz-transform: translate3d(0, -1em, 0);
        -webkit-transform: translate3d(0, -1em, 0);
        transform: translate3d(0, -1em, 0);
        -moz-transition: opacity 0.3s ease, -moz-transform 0.3s ease, border-color 0.5s ease;
        -o-transition: opacity 0.3s ease, -o-transform 0.3s ease, border-color 0.5s ease;
        -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease, border-color 0.5s ease;
        transition: opacity 0.3s ease, transform 0.3s ease, border-color 0.5s ease; }
        #sidebar .sidebar-content nav a h1, #sidebar .sidebar-content nav a:visited h1 {
          font-size: 3em; }
        #sidebar .sidebar-content nav a h2, #sidebar .sidebar-content nav a:visited h2 {
          line-height: 1.4;
          font-size: 1.25em;
          font-weight: 300; }
      #sidebar .sidebar-content nav a:nth-child(1) {
        -moz-transition-delay: 350s, 350ms, 0ms;
        -o-transition-delay: 350ms, 350ms, 0ms;
        -webkit-transition-delay: 350ms, 350ms, 0ms;
        transition-delay: 350ms, 350ms, 0ms; }
      #sidebar .sidebar-content nav a:nth-child(2) {
        -moz-transition-delay: 400ms, 400ms, 0ms;
        -o-transition-delay: 400ms, 400ms, 0ms;
        -webkit-transition-delay: 400ms, 400ms, 0ms;
        transition-delay: 400ms, 400ms, 0ms; }
      #sidebar .sidebar-content nav a:nth-child(3) {
        -moz-transition-delay: 450ms, 450ms, 0ms;
        -o-transition-delay: 450ms, 450ms, 0ms;
        -webkit-transition-delay: 450ms, 450ms, 0ms;
        transition-delay: 45ms, 45ms, 0ms; }
      #sidebar .sidebar-content nav a:nth-child(4) {
        -moz-transition-delay: 500ms, 500ms, 0ms;
        -o-transition-delay: 500ms, 500ms, 0ms;
        -webkit-transition-delay: 500ms, 500ms, 0ms;
        transition-delay: 500ms, 500ms, 0ms; }
      #sidebar .sidebar-content nav a:nth-child(5) {
        -moz-transition-delay: 550ms, 550ms, 0ms;
        -o-transition-delay: 550ms, 550ms, 0ms;
        -webkit-transition-delay: 550ms, 550ms, 0ms;
        transition-delay: 550ms, 550ms, 0ms; }
      #sidebar .sidebar-content nav a:nth-child(6) {
        -moz-transition-delay: 600ms, 600ms, 0ms;
        -o-transition-delay: 600ms, 600ms, 0ms;
        -webkit-transition-delay: 600ms, 600ms, 0ms;
        transition-delay: 600ms, 600ms, 0ms; }
      #sidebar .sidebar-content nav a:hover {
        border: 1px solid #8c8979;
        z-index: 2; }
  #sidebar footer.details {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 5rem;
    height: 10.5rem;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.4;
    border-top: 1px solid #8c8979;
    opacity: 0;
    -moz-transform: translate3d(0, -1em, 0);
    -webkit-transform: translate3d(0, -1em, 0);
    transform: translate3d(0, -1em, 0);
    -moz-transition: all 0.3s 0.65s ease;
    -o-transition: all 0.3s 0.65s ease;
    -webkit-transition: all 0.3s 0.65s;
    -webkit-transition-delay: ease;
    transition: all 0.3s 0.65s ease; }
    #sidebar footer.details a, #sidebar footer.details a:visited {
      color: #f2f2f2;
      text-decoration: underline;
      font-weight: 400; }
      #sidebar footer.details a img, #sidebar footer.details a:visited img {
        display: block;
        margin: 1em 0 0 auto; }
    #sidebar footer.details div.vcard {
      width: 10rem;
      margin-top: .5em; }
      #sidebar footer.details div.vcard .n {
        font-weight: 500; }
      #sidebar footer.details div.vcard > div {
        margin-bottom: .5em; }
    #sidebar footer.details div.licence {
      position: absolute;
      top: 0.5em;
      right: 0;
      bottom: auto;
      left: auto;
      width: 12em;
      text-align: right; }
      #sidebar footer.details div.licence h1 {
        font-size: 1em;
        font-weight: 500;
        margin-bottom: .5em; }

#sidebar.open .leaver .trigger div {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
#sidebar.open nav a, #sidebar.open nav a:visited {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
#sidebar.open .sidebar-content {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  #sidebar.open .sidebar-content footer.details {
    font-size: 1em;
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

@media (min-width: 48rem) {
  #sidebar {
    font-size: 1rem; } }
@media (min-width: 64rem) {
  #sidebar {
    font-size: 1rem; }
    #sidebar .leaver {
      position: fixed;
      top: 0;
      right: auto;
      bottom: 0;
      left: 0;
      width: 5em;
      height: 100%; }
      #sidebar .leaver .trigger div {
        -moz-transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0); }
      #sidebar .leaver .trigger .menu {
        top: 0;
        left: 5em; }
      #sidebar .leaver footer.logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: 0;
        left: auto; }
    #sidebar .sidebar-content {
      top: 0;
      left: 5em;
      -moz-transform: translate3d(-100%, -100%, 0) translate3d(0, 5em, 0);
      -ms-transform: translate3d(-100%, -100%, 0) translate3d(0, 5em, 0);
      -webkit-transform: translate3d(-100%, -100%, 0) translate3d(0, 5em, 0);
      transform: translate3d(-100%, -100%, 0) translate3d(0, 5em, 0); } }
@media (min-width: 48rem) and (min-height: 40rem) {
  #sidebar footer.details {
    display: block;
    font-size: 1rem; } }
@media (max-height: 30rem) {
  #sidebar nav a, #sidebar nav a:visited {
    margin-bottom: 0.1875rem;
    padding: 0 1.125rem; }
    #sidebar nav a h1, #sidebar nav a:visited h1 {
      font-size: 3em;
      line-height: 1.2; }
    #sidebar nav a h2, #sidebar nav a:visited h2 {
      display: none; } }
ul, ol {
  margin-bottom: 1.6em; }

ul li {
  list-style: disc;
  margin-left: 2em; }

ol li {
  list-style: decimal;
  margin-left: 2em; }

ul.inline, ul.inline li {
  display: inline;
  list-style: none; }

ul.unstyled {
  list-style: none; }
  ul.unstyled li {
    list-style: none;
    margin-left: 0; }

blockquote {
  margin-bottom: 1em;
  border-top: 1px solid #272626;
  border-bottom: 1px solid #272626;
  border-left: 1em solid #272626;
  border-right: 1px solid #272626;
  padding: .5rem;
  font-weight: 500; }
  blockquote small {
    display: block;
    font-size: .8em;
    text-align: right;
    font-weight: 300; }

a, a:visited {
  font-weight: 500;
  color: #F60A20; }

p {
  padding-bottom: 1em; }

h1 {
  line-height: 1.2;
  font-size: 3.5em;
  font-weight: 900; }
  h1 a, h1 a:visited {
    color: inherit;
    text-decoration: none;
    font-weight: 900; }

h2 {
  line-height: 1.2;
  font-size: 2.53287em;
  font-weight: 900; }
  h2 a, h2 a:visited {
    color: inherit;
    text-decoration: none;
    font-weight: 900; }

h3 {
  line-height: 1.2;
  font-size: 1.96713em;
  font-weight: 900; }
  h3 a, h3 a:visited {
    color: inherit;
    text-decoration: none;
    font-weight: 900; }

h4 {
  line-height: 1.2;
  font-size: 1.56574em;
  font-weight: 900; }
  h4 a, h4 a:visited {
    color: inherit;
    text-decoration: none;
    font-weight: 900; }

h5 {
  line-height: 1.2;
  font-size: 1.25439em;
  font-weight: 900; }
  h5 a, h5 a:visited {
    color: inherit;
    text-decoration: none;
    font-weight: 900; }

h6 {
  line-height: 1.2;
  font-size: 1em;
  font-weight: 900; }
  h6 a, h6 a:visited {
    color: inherit;
    text-decoration: none;
    font-weight: 900; }

@media (min-width: 48rem) {
  h1 {
    font-size: 3.5em; }

  h2 {
    font-size: 2.53287em; }

  h3 {
    font-size: 1.96713em; }

  h4 {
    font-size: 1.56574em; }

  h5 {
    font-size: 1.25439em; }

  h6 {
    font-size: 1em; } }
strong {
  font-weight: 700; }

em {
  font-style: italic; }

.tt {
  font-family: "Fira Mono";
  font-weight: 700; }

.problemstatement {
  margin: 0.75rem;
  padding: 0.375rem;
  border: 1px solid #272626; }

@media (min-width: 48rem) {
  margin: 1rem;
  padding: .5rem; }
html, body {
  height: 100%; }

html {
  font-family: "Fira Sans", "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px; }

body {
  color: #272626;
  background-color: #f2f2f2; }

#indieauth {
  display: none; }

.leaflet-container {
  width: 100%;
  height: 30em; }

.animate {
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.animate.ng-enter, .animate.ng-leave.ng-leave-active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.animate.ng-enter, .animate.ng-leave.ng-leave-active {
  opacity: 0; }

.animate.ng-enter.ng-enter-active {
  opacity: 1; }

.main-content {
  font-size: .875rem;
  font-weight: 400;
  height: 100%;
  max-width: 40rem;
  margin: 3.75rem auto 0 auto;
  z-index: 50; }
  .main-content img {
    display: block;
    margin: 0 auto 1.6em auto; }
  .main-content h1 {
    margin-bottom: 0.75rem;
    border-bottom: 1px solid #272626; }
    .main-content h1 a, .main-content h1 a:visited {
      color: inherit; }
  .main-content h2 {
    margin-bottom: 0.75rem;
    border-bottom: 1px solid #272626; }
    .main-content h2 a, .main-content h2 a:visited {
      color: inherit; }
  .main-content h3 {
    margin-bottom: 0.75rem;
    border-bottom: 1px solid #272626; }
    .main-content h3 a, .main-content h3 a:visited {
      color: inherit; }
  .main-content h4 {
    margin-bottom: 0.75rem;
    border-bottom: 1px solid #272626; }
    .main-content h4 a, .main-content h4 a:visited {
      color: inherit; }
  .main-content h5 {
    margin-bottom: 0.75rem;
    border-bottom: 1px solid #272626; }
    .main-content h5 a, .main-content h5 a:visited {
      color: inherit; }
  .main-content h6 {
    margin-bottom: 0.75rem;
    border-bottom: 1px solid #272626; }
    .main-content h6 a, .main-content h6 a:visited {
      color: inherit; }
  .main-content > section {
    padding: 2em; }
  .main-content section > *:last-child {
    padding-bottom: 0;
    margin-bottom: 0; }
  .main-content section {
    will-change: transform, opacity;
    padding-bottom: 2em; }
    .main-content section p {
      padding-bottom: 1.6em; }
    .main-content section p:last-child {
      padding-bottom: 0; }
  .main-content img {
    max-width: 90%;
    height: auto;
    margin: 0 auto 1.6em auto; }
  .main-content a, .main-content a:visited {
    color: #F60A20; }
  .main-content table.meta {
    margin-bottom: 1.6em; }
    .main-content table.meta td.heading {
      font-weight: 500;
      padding-right: .5em; }
    .main-content table.meta td {
      vertical-align: top; }

@media (min-width: 48rem) {
  .main-content {
    margin: 5em auto 0 auto;
    font-size: 1rem;
    width: 40em; }
    .main-content h1 {
      margin-bottom: 1rem;
      border-bottom: 1px solid #272626; }
    .main-content h2 {
      margin-bottom: 1rem;
      border-bottom: 1px solid #272626; }
    .main-content h3 {
      margin-bottom: 1rem;
      border-bottom: 1px solid #272626; }
    .main-content h4 {
      margin-bottom: 1rem;
      border-bottom: 1px solid #272626; }
    .main-content h5 {
      margin-bottom: 1rem;
      border-bottom: 1px solid #272626; }
    .main-content h6 {
      margin-bottom: 1rem;
      border-bottom: 1px solid #272626; } }
@media (min-width: 64rem) {
  .main-content {
    margin: 0 0 0 5em; }
    .main-content > section {
      padding: 1em 2em; } }
#post-archive section.year, #talk-archive section.year, #tags section.year {
  border-top: thin solid #272626;
  padding-top: .5em; }
  #post-archive section.year:first-child, #talk-archive section.year:first-child, #tags section.year:first-child {
    border-top: none;
    padding-top: 0; }
  #post-archive section.year h2.year, #talk-archive section.year h2.year, #tags section.year h2.year {
    float: left;
    width: 6rem;
    border-bottom: none;
    overflow: hidden; }
  @media (min-width: 48rem) {
    #post-archive section.year h2.year, #talk-archive section.year h2.year, #tags section.year h2.year {
      width: 8rem; } }
  #post-archive section.year section.month, #talk-archive section.year section.month, #tags section.year section.month {
    margin-left: 8em; }
#post-archive span.day, #talk-archive span.day, #tags span.day {
  display: block;
  width: 4em;
  float: left;
  font-weight: 900; }
#post-archive span.title, #talk-archive span.title, #tags span.title {
  display: block;
  margin-left: 4em; }
#post-archive span.date, #talk-archive span.date, #tags span.date {
  float: left;
  display: block;
  width: 7em;
  font-weight: 900; }

.archive {
  padding: 1em 2em;
  font-size: 2em;
  text-align: center; }

.elastic-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: auto 2em; }

.elastic-container iframe, .elastic-container object, .elastic-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media (min-width: 64rem) {
  .half {
    float: left;
    width: 50%; }

  .vcard::after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; } }
