pre code {
  padding: 0 3px 2px;
  font-family: "Fira Mono", "Droid Sans Mono",Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1rem;
  //font-size: 12px;
  color: #333333;
  white-space: pre;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 1rem;
  line-height: 20px;
  overflow: scroll;
  white-space: pre;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
pre.prettyprint {
  margin-bottom: 20px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
//  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

pre, code { color: #cccccc; background-color: #303030; }

code > span.kw { color: #f0dfaf; }
code > span.dt { color: #dfdfbf; }
code > span.dv { color: #dcdccc; }
code > span.bn { color: #dca3a3; }
code > span.fl { color: #c0bed1; }
code > span.ch { color: #dca3a3; }
code > span.st { color: #cc9393; }
code > span.co { color: #7f9f7f; }
code > span.ot { color: #efef8f; }
code > span.al { color: #ffcfaf; }
code > span.fu { color: #efef8f; }
code > span.er { color: #c3bf9f; }

