<div id="indieauth">
    <ul>
        <li><a rel="me" href="https://twitter.com/xinitrc">@xinitrc</a> on Twitter</li>
        <li><a rel="me" href="https://plus.google.com/+MartinHilscher/">Martin</a> on Google+</li>
        <li><a rel="me" href="https://facebook.com/martin.hilscher">me</a> on Facebook</li>
        <li><a rel="me" href="https://github.com/xinitrc">xinitrc</a> on Github</li>
        <li><a rel="me" href="mailto:mh@xinitrc.de">mh@xinitrc.de</a></li>
        <li><a rel="me" href="sms:+491705581660">+49 (0)170 5581660</a></li>
    </ul>
</div>