<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />

    <title>TestSite</title>

    <link rel="stylesheet" href="/assets/fonts/Fira/css/fira.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <script src="/scripts/classie.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/scripts/app.js"></script>
</head>
