<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" media="(device-height: 568px)">

    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/css/style.css" rel="stylesheet" media="screen">
    <link href="/scripts/mediaelementsjs/mediaelementplayer.min.css" rel="stylesheet" media="screen"/>

    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon" href="/assets/images/ati.png"/>
    <link rel="logo" type="image/svg" href="/assets/images/Logo.svg"/>

    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="xinitrc.de"/>
    <link rel="feed" type="application/atom+xml" href="/atom.xml" title="xinitrc.de"/>


    <link rel="payment" type="text/html"
          href="https://flattr.com/submit/auto?url=http%3A%2F%2Fxinitrc.de{{ page.url | cgi_escape }}&amp;user_id=xinitrc&amp;title={{ page.title | cgi_escape }}&amp;category=text&amp;tags=blog&amp;language=en"
          title="Flattr this post"/>
    <script>document.cookie = 'resolution=' + Math.max(screen.width, screen.height) + '; path=/';</script>

    <title>xinitrc.de | $title$</title>
</head>

