<script type="text/javascript" src="/scripts/date.format.js"></script>
<script type="text/javascript" src="/scripts/angular/angular.min.js"></script>
<script type="text/javascript" src="/scripts/calendar.js"></script>

<script type="text/javascript" src="/scripts/head.load.min.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$$','$$'], ['\\(','\\)']]}
    });
</script>

<script type="text/javascript">
    head.js('/scripts/jquery-1.8.3.min.js', function () {
        $$(function () {
            head.js('/bootstrap/js/bootstrap.min.js', null)
            if ($$('math').length) {
                head.js('https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML', null)
            }

            if ($$('div.flattr').length) {
                (function () {
                    var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = '//api.flattr.com/js/0.6/load.js?mode=auto&button=compact&uid=xinitrc&category=text';
                    t.parentNode.insertBefore(s, t);
                })();
            }
            if ($$('#nikeplus').length) {
                head.js('/scripts/Highcharts-2.3.5/js/highcharts.js',
                        '/scripts/sprintf-0.7-beta1.js',
                        '/scripts/date.format.js',
                        '/scripts/nikeplus.js', function () {
                            nikeplusCallback()
                        });
            }
            if ($$('audio').length || $$('video').length) {
                head.js('/scripts/mediaelementsjs/mediaelement-and-player.min.js', function () {
                    $$('audio').mediaelementplayer();
                    $$('video').mediaelementplayer();
                });
            }
        });
    });
</script>
