<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$$','$$'], ['\\(','\\)']]
        }
    });
</script>
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<!--
<script>
        $$('video').mediaelementplayer();
        $$('audio').mediaelementplayer();
</script>
-->
<script>
    function downloadJSAtOnload(){var d=document.createElement("link");d.href="/css/style.css",d.rel="stylesheet",d.type="text/css",document.body.appendChild(d);var n=document.createElement("script");n.src="/scripts/app.min.js",document.body.appendChild(n)}window.addEventListener?window.addEventListener("load",downloadJSAtOnload,!1):window.attachEvent?window.attachEvent("onload",downloadJSAtOnload):window.onload=downloadJSAtOnload;
</script>