<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$$','$$'], ['\\(','\\)']]
        }
    });
</script>
<script>
    function downloadJSAtOnload(){var n=document.createElement("script");n.src="/scripts/app.min.js",document.body.appendChild(n);if(document.querySelector("math")){var m=document.createElement("script");m.src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML",document.body.appendChild(m)}}window.addEventListener?window.addEventListener("load",downloadJSAtOnload,!1):window.attachEvent?window.attachEvent("onload",downloadJSAtOnload):window.onload=downloadJSAtOnload;
</script>