<div class="sidebar1">
    <a href="/"><img class="logo" src="/assets/images/Logo.svg"/></a>
    <hr class="hrlogo"/>
    <nav>
        <ul class="nav">
            <li>
                <a $if(blog)$ class="active" $endif$ href="/">Blog<i class="icon-chevron-right icon-large"></i></a>
            </li>
            <li>
                <a $if(talks)$ class="active" $endif$ href="/talks.html">Talks<i class="icon-chevron-right icon-large"></i></a>
            </li>
            <li>
                <a $if(contacts)$ class="active" $endif$ href="/contact.html">Contact me<i class="icon-chevron-right icon-large"></i>
                </a>
            </li>
            <li>
                <a  $if(facts)$ class="active" $endif$ href="/facts.html">xinitrc facts<i class="icon-chevron-right icon-large"></i></a>
            </li>
        </ul>
    </nav>
    <div class="social">
        <hr class="hrsocial"/>
        <ul>
            <li><a href="//xinitrc.de/atom.xml"><i class="icon-rss-sign"></i></a></li>
            <li><a href="https://twitter.com/xinitrc"><i class="icon-twitter-sign"></i></a></li>
            <li><a href="https://www.facebook.com/martin.hilscher"><i class="icon-facebook-sign"></i></a></li>
            <li><a href="https://plus.google.com/117728152972775271159/posts"><i class="icon-google-plus-sign"></i></a>
            </li>
        </ul>
    </div>

</div>
