<div class="sidebar1">
    <a href="/"><img alt="xinitrc.de Logo" class="logo" src="/assets/images/Logo.svg"/></a>
    <hr class="hrlogo"/>
    <nav>
        <ul class="nav">
            <li>
                <a $if(blog)$ class="active" $endif$ href="/">Blog<i class="icon-chevron-right icon-large"></i></a>
            </li>
            <li>
                <a $if(talks)$ class="active" $endif$ href="/talks.html">Talks<i class="icon-chevron-right icon-large"></i></a>
            </li>
            <li>
                <a $if(contacts)$ class="active" $endif$ href="/contact.html">Contact me<i class="icon-chevron-right icon-large"></i>
                </a>
            </li>
            <li>
                <a  $if(facts)$ class="active" $endif$ href="/facts.html">xinitrc facts<i class="icon-chevron-right icon-large"></i></a>
            </li>
        </ul>
    </nav>
    <hr class="hrmenu"/>
</div>
