<div class="contentblock" id='upcoming' ng-app="Calendar">
    <h1>Next</h1>

    <div ng-controller="CalendarCTRL">
        <ul ng-cloak>
            <li ng-repeat='event in calendarEntries'>
                <div class='dateli' ng-cloak>
                    <span class='startdate' ng-cloak>{{event.start}}<span
                            ng-show='event.end' ng-cloak> - </span></span>
                    <span class='enddate' ng-cloak>{{event.end}}</span>
                </div>
                <span ng-bind='event.summary'></span>
            </li>
        </ul>
    </div>
</div>
<div class="contentblock">
    <h1>Tags</h1>
    $tagcloud$
</div>
