<div class="sidebar2">
    <div class="next" ng-app="Calendar" ng-controller="CalendarCTRL">
        <h1>Upcoming</h1>
        <ul ng-cloak>
            <li ng-repeat='event in calendarEntries'>
                <div class='dateli' ng-cloak>
                    <span class='startdate' ng-cloak>{{event.start}}<span
                            ng-show='event.end' ng-cloak> - </span></span>
                    <span class='enddate' ng-cloak>{{event.end}}</span>
                </div>
                <span ng-bind='event.summary'></span><span> - <a href="{{event.mapsURL}}">{{event.location}}</a></span>
            </li>
        </ul>
    </div>
    <hr class="hrnext"/>
    <div class="tagcloud">
        <h1>Tags</h1>
        $tagcloud$
    </div>
    <hr/>
    <div class="uberspace">
        <a href="https://uberspace.de"><img src="/assets/images/uberpsace_black.png"/></a>
    </div>
</div>
