//
// Fira Thin
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Thin.eot');
  src: local('Fira Thin'),
  local('Fira-Thin'),
  url('../font/FiraSans-Thin.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-Thin.woff') format('woff'),
  url('../font/FiraSans-Thin.ttf') format('truetype');
  font-weight: 150;
  font-style: normal;
}
