//
// Fira  Italic
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Italic.eot');
  src: local('Fira Sans Italic'),
  local('Fira Sans-Italic'),
  url('../font/FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
