//
// Fira Eight
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Eight.eot');
  src: local('Fira Eight'),
  local('Fira-Eight'),
  url('../font/FiraSans-Eight.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-Eight.woff') format('woff'),
  url('../font/FiraSans-Eight.ttf') format('truetype');
  font-weight: 80;
  font-style: normal;
}
