//
// Fira ExtraLight
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-ExtraLight.eot');
  src: local('Fira ExtraLight'),
  local('Fira-ExtraLight'),
  url('../font/FiraSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-ExtraLight.woff') format('woff'),
  url('../font/FiraSans-ExtraLight.ttf') format('truetype');
  font-weight: 250;
  font-style: normal;
}
