//
// Fira SemiBold Italic
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-SemiBoldItalic.eot');
  src: local('Fira Sans SemiBold Italic'),
  local('Fira Sans-SemiBoldItalic'),
  url('../font/FiraSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-SemiBoldItalic.woff') format('woff'),
  url('../font/FiraSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
