//
// Fira Medium Italic
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-MediumItalic.eot');
  src: local('Fira Sans Medium Italic'),
  local('Fira Sans-MediumItalic'),
  url('../font/FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-MediumItalic.woff') format('woff'),
  url('../font/FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
