//
// Fira Heavy
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Heavy.eot');
  src: local('Fira Heavy'),
  local('Fira-Heavy'),
  url('../font/FiraSans-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-Heavy.woff') format('woff'),
  url('../font/FiraSans-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
