//
// Fira Ultra
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Ultra.eot');
  src: local('Fira Ultra'),
  local('Fira-Ultra'),
  url('../font/FiraSans-Ultra.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-Ultra.woff') format('woff'),
  url('../font/FiraSans-Ultra.ttf') format('truetype');
  font-weight: 950;
  font-style: normal;
}
