//
// Fira Ultra Italic
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-UltraItalic.eot');
  src: local('Fira Sans Ultra Italic'),
  local('Fira Sans-UltraItalic'),
  url('../font/FiraSans-UltraItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-UltraItalic.woff') format('woff'),
  url('../font/FiraSans-UltraItalic.ttf') format('truetype');
  font-weight: 950;
  font-style: italic;
}
