//
// Fira Two
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Two.eot');
  src: local('Fira Two'),
  local('Fira-Two'),
  url('../font/FiraSans-Two.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-Two.woff') format('woff'),
  url('../font/FiraSans-Two.ttf') format('truetype');
  font-weight: 20;
  font-style: normal;
}
