//
// Fira UltraLight Italic
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('fontFiraSans-UltraLightItalic.eot');
  src: local('Fira Sans UltraLight Italic'),
  local('Fira Sans-UltraLightItalic'),
  url('../font/FiraSans-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-UltraLightItalic.woff') format('woff'),
  url('../font/FiraSans-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
