//
// Fira Four Italic
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-FourItalic.eot');
  src: local('Fira Sans Four Italic'),
  local('Fira Sans-FourItalic'),
  url('../font/FiraSans-FourItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-FourItalic.woff') format('woff'),
  url('../font/FiraSans-FourItalic.ttf') format('truetype');
  font-weight: 40;
  font-style: italic;
}
