//
// Fira Hair
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Hair.eot');
  src: local('Fira Hair'),
  local('Fira-Hair'),
  url('../font/FiraSans-Hair.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-Hair.woff') format('woff'),
  url('../font/FiraSans-Hair.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
