//
// Fira Book Italic
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-BookItalic.eot');
  src: local('Fira Sans Book Italic'),
  local('Fira Sans-BookItalic'),
  url('../font/FiraSans-BookItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-BookItalic.woff') format('woff'),
  url('../font/FiraSans-BookItalic.ttf') format('truetype');
  font-weight: 350;
  font-style: italic;
}
