//
// Fira ExtraBold Italic
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-ExtraExtraBoldItalic.eot');
  src: local('Fira Sans ExtraBold Italic'),
  local('Fira Sans-ExtraBoldItalic'),
  url('../font/FiraSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-ExtraBoldItalic.woff') format('woff'),
  url('../font/FiraSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
