//
// Fira Two Italic
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-TwoItalic.eot');
  src: local('Fira Sans Two Italic'),
  local('Fira Sans-TwoItalic'),
  url('../font/FiraSans-TwoItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-TwoItalic.woff') format('woff'),
  url('../font/FiraSans-TwoItalic.ttf') format('truetype'),
  url('../font/FiraSans-TwoItalic.svg#firasans') format('svg');
  font-weight: 20;
  font-style: italic;
}
