//
// Fira Eight Italic
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-EightItalic.eot');
  src: local('Fira Sans Eight Italic'),
  local('Fira Sans-EightItalic'),
  url('../font/FiraSans-EightItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-EightItalic.woff') format('woff'),
  url('../font/FiraSans-EightItalic.ttf') format('truetype');
  font-weight: 80;
  font-style: italic;
}
