//
// Fira Light
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Light.eot');
  src: local('Fira Light'),
  local('Fira-Light'),
  url('../font/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-Light.woff') format('woff'),
  url('../font/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
