//
// Fira Regular
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Regular.eot');
  src: local('Fira Regular'),
  local('Fira-Regular'),
  url('../font/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-Regular.woff') format('woff'),
  url('../font/FiraSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
