//
// Fira UltraLight
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-UltraLight.eot');
  src: local('Fira UltraLight'),
  local('Fira-UltraLight'),
  url('../font/FiraSans-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-UltraLight.woff') format('woff'),
  url('../font/FiraSans-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
