//
// Fira Medium
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Medium.eot');
  src: local('Fira Medium'),
  local('Fira-Medium'),
  url('../font/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-Medium.woff') format('woff'),
  url('../font/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
