//
// Fira Hair Italic
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-HairItalic.eot');
  src: local('Fira Sans Hair Italic'),
  local('Fira Sans-HairItalic'),
  url('../font/FiraSans-HairItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-HairItalic.woff') format('woff'),
  url('../font/FiraSans-HairItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
