//
// Fira Book
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Book.eot');
  src: local('Fira Book'),
  local('Fira-Book'),
  url('../font/FiraSans-Book.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-Book.woff') format('woff'),
  url('../font/FiraSans-Book.ttf') format('truetype');
  font-weight: 350;
  font-style: normal;
}
