//
// Fira ExtraBold
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-ExtraBold.eot');
  src: local('Fira ExtraBold'),
  local('Fira-ExtraBold'),
  url('../font/FiraSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-ExtraBold.woff') format('woff'),
  url('../font/FiraSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
