//
// Fira Thin Italic
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-ThinItalic.eot');
  src: local('Fira Sans Thin Italic'),
  local('Fira Sans-ThinItalic'),
  url('../font/FiraSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-ThinItalic.woff') format('woff'),
  url('../font/FiraSans-ThinItalic.ttf') format('truetype');
  font-weight: 150;
  font-style: italic;
}
