//
// Fira SemiBold
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-SemiBold.eot');
  src: local('Fira SemiBold'),
  local('Fira-SemiBold'),
  url('../font/FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-SemiBold.woff') format('woff'),
  url('../font/FiraSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
