//
// Fira ExtraLight Italic
// ------------------------------------------------------

@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-ExtraLightItalic.eot');
  src: local('Fira Sans ExtraLight Italic'),
  local('Fira Sans-ExtraLightItalic'),
  url('../font/FiraSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/FiraSans-ExtraLightItalic.woff') format('woff'),
  url('../font/FiraSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 250;
  font-style: italic;
}
