AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/x-javascript
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/json
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

Options +FollowSymlinks

RewriteEngine on
RewriteCond %{HTTP_HOST}        ^blog.xinitrc.de [NC]
RewriteRule ^$          http://xinitrc.de/ [L,R]

RewriteCond %{HTTP_HOST}        ^blog.xinitrc.de [NC]
RewriteRule ^(.*)$      http://xinitrc.de/$1 [R]

RewriteCond %{HTTP_HOST}        ^www.xinitrc.de [NC]
RewriteRule ^(.*)$      http://xinitrc.de/$1 [R]

RewriteCond %{HTTP_HOST}        ^pad.xinitrc.de [NC]
RewriteRule ^$ http://localhost:12004/ [P]

RewriteCond %{HTTP_HOST}        ^pad.xinitrc.de [NC]
RewriteRule ^(.*)$ http://localhost:12004/$1 [P]

RewriteCond %{ENV:HTTPS} on
RewriteCond %{HTTP_HOST} ^couch.xinitrc.de
RewriteRule ^(.*)$      http://localhost:21864/$1 [P]

# ADAPTIVE IMAGES 
RewriteCond %{REQUEST_URI} !ai-cache
    
RewriteRule \.(?:jpe?g|gif|png)$ adaptive-images.php
