<!DOCTYPE html>
<html lang="en">
$partial("partials/mainhead.html")$
<body ng-app="xinitrc">
<div id="wrapper">
    $partial("partials/navbar.html")$

    <div class="contentwrapper">
        <div class="content">
            <div class="contentblock">
	      <article>
	      <header>
                <h1>Tag: $title$</h1>
	        <span class="rss"><a href="/tags/$tag$.xml"><i class="icon-large icon-rss-sign"></i></a></span>
	      </header>
	      <table>
                    $posts$
                </table>
		</article>
            </div>
        </div>
    </div>
    $partial("partials/sidebar.html")$
</div>

</div>
$partial("partials/mainfooter.html")$
</body>
</html>
