<!DOCTYPE html>
<html lang="en">
$partial("partials/mainhead.html")$
<body>
<div id="wrapper">
    $partial("partials/navbar.html")$

    <div class="contentwrapper">
        <div class="content">
            <div class="contentblock">
                <h1>Tag: $title$</h1>
                <table>
                    $posts$
                </table>
            </div>
        </div>
    </div>
    $partial("partials/sidebar.html")$
</div>

</div>
$partial("partials/mainfooter.html")$
</body>
</html>
