    <div class="main-content show">
        <div id="talkbg" class="background">
            <h1 class="section-head">talk</h1>
            <div id="credit">
                <a href="https://www.flickr.com/photos/derekbruff">Background image by Derek Bruff</a>
            </div>
        </div>
        <article class="full-article">
            <header>
                <span class="date"><time pubdate>$date$</time></span>
	</header>
	<div class="article-body">
	  <h1>$title$</h1>
	  $body$
	  </div>
            <footer>
                <div class="meta-info">
                    <table class="meta">
                        <tr>
                            <td class="heading">
                                Tags:
                            </td>
                            <td>
                        <span>
                            $tags$
                        </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="heading">
                                Licence:</td>
                            <td><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
                                Attribution-ShareAlike 4.0 Unported License</a></td>
                        </tr>
                    </table>
                    <div class="flattr">
                        <a class="FlattrButton" href="https://xinitrc.de$url$" title="$title$" lang="en"
                           data-flattr-uid="xinitrc"
                           data-flattr-tags="blog"
                           data-flattr-category="text"></a>
                    </div>
                </div>
                $if(commentsdisabled)$
                $else$
                    <div disqus="url"></div>
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'xinitrcde'; // required: replace example with your forum shortname
                    (function () {
                        var dsq = document.createElement('script');
                        dsq.type = 'text/javascript';
                        dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by
                    Disqus.</a></noscript>
                <a href="//disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                $endif$
            </footer>
        </article>
    </div>
